
<footer id="site-footer" role="contentinfo">
	<div class="container">

		<div class="col-sm-8">

			<a href="/resume" target="_blank">
				<span class="fa fa-file-text"></span> Resume
			</a>
			
			<a href="https://gitlab.com/jane-fox" target="_blank">
				<span class="fa fa-gitlab"></span> GitLab
			</a>

			<a href="https://github.com/jane-fox" target="_blank">
				<span class="fa fa-github"></span> GitHub
			</a>
			
		</div>


		<div class="col-sm-4 footer-right text-right">
			&copy; {{ "now" | date: "%Y" }} J Finamore
		</div>
		
	</div><!-- .container -->
</footer><!-- #site-footer -->


<script type='text/javascript' src='{{ site.baseurl }}/assets/js/scripts.min.js'></script>


</body>
</html>
