
<header id="site-nav" class="site-header navbar color-bg" role="banner">
	<div class="container"><div class="row">

		<p class="site-title"><a href="{{ site.url }}/" rel="home">J Finamore</a></p>
		<p class="site-description">Web Developer</p>


		<nav id="collapse-menu" class=" nav navbar-nav navbar-right collapse navbar-collapse" role="navigation">
			<div class="menu-header-navigation-container"><ul id="primary-menu" class=""><li id="menu-item-180" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-180"><a href="{{ site.url }}/portfolio/">Portfolio</a></li>
				<li id="menu-item-182" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-182"><a href="{{ site.url }}/about/">About</a></li>
				<li id="menu-item-181" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-7 current_page_item menu-item-181"><a href="{{ site.url }}/contact/">Contact</a></li>
			</ul></div>        </nav><!-- #site-navigation -->


			<button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target="#collapse-menu">
				<span class="sr-only">Toggle navigation</span>
				<span class="glyphicon glyphicon-menu-hamburger"></span>
			</button>


		</div></div><!-- .row .container -->
</header><!-- #masthead -->
