---
permalink: /contact/
title: "Contact"
---

<div class="contact-page">

	<h2>Get an Estimate. Ask Questions. Hire me.</h2>

	<hr>

	<div class="row">

		<div class="col-sm-6 pull-right">
			<p>You can send me an email at <strong>jfinamore.js@gmail.com</strong> or use the form. I&#8217;ll typically get back to you in a day or less!</p>
			<p><strong>Estimate.</strong> If you have an idea for a website and would like a sense of how much it might cost, please provide as many relevant details, including mockups or example sites to give the best idea of what you want.</p>
			<p><strong>Questions.</strong> Curious about selling online? Want to know if I can do something specific? Have a need for your business, but not sure which tech can help you?</p>
			<p><strong>Hire.</strong> I work excellent as part of a team. If you need an experienced developer, please tell me about your project and the kind of assistance you need.</p>
		</div>

		<div class="col-sm-6">

			<form id="form1" name="form1" accept-charset="UTF-8" enctype="multipart/form-data" method="post" action="https://janefox.wufoo.com/forms/z1mr3zhd0qlt76v/#public">


				<label id="title1" for="Field1">Name</label>
				<input required id="Field1" name="Field1" type="text" value="" maxlength="255" tabindex="1" />

				<label id="title2" for="Field2">Email</label>
				<input required id="Field2" name="Field2" type="text" value="" maxlength="255" tabindex="2" />

				<label id="title3" for="Field3">Message</label>
				<textarea id="Field3" name="Field3" required tabindex="3" ></textarea>

				<input id="saveForm" name="saveForm" type="submit" value="Submit" />    
				
				<input type="hidden" id="idstamp" name="idstamp" value="Hl5vhMoIyk+F1ZRNrJF4X3eDZDc7tdWjzn1wWv081ks=" />

			</form>

		</div>
	</div>
</div>
