---
permalink: /nursing/
title: "Nursing.org"
description: "I brought this site blazing speeds by converting it from WordPress to Jekyll, a static site generator, and made it easier to use by setting up custom blocks as a replacement to shortcodes."
layout: "portfolio"
image: "/assets/img/portfolio/nursing/home.jpg"
gallery:
 - img: "nursing/home.jpg"
 - img: "nursing/careers.jpg"
 - img: "nursing/degrees.jpg"
 - img: "nursing/upsell.jpg"
 - img: "nursing/programs.jpg"
 - img: "nursing/scholarships.jpg"

---

<h2>Website</h2>
<a href="https://nursing.org/">https://nursing.org/</a>

<p>Made to provide information on Nursing Degrees, how to get them, and relevant topics.</p>


<h3>About the Tech</h3>

<p>Built with Jekyll, a static site generator. If you haven't heard, static or "serverless" sites are a relatively new way of building the web using some fancy build tools, with the end result being plain old HTML, CSS, and JavaScript. While this may not sound new or exciting, the benefit it provides is enormous - nothing can offer faster speeds, better security, or simplicity than serving up static html files.</p>


<h3>My Role in this Project</h3>

<p>The Nursing site with initially built ontop of WordPress, but it was decided that an upgrade was in order. I was tasked with making a full conversion to Jekyll, a static site generator. Every page was brought back faster than ever, with all meta data and URLs the exact same so we wouldn't take a single hit to our SEO.</p>

<p>I also completed a full refresh on the home page - starting from a sketch file with a fabulous design I built out several sections and custom functionality, all done mobile-first. Afterwords I activated A/B testing through Netlify's awesome service!</p>

<p>To make things more user friendly for our content editing team, I created several Liquid blocks to act as a replacement for shortcodes which are WordPress specific. These add in pre-defined snippets of HTML to get specific effects without them actually having to write code.</p>

