---
permalink: /personal/
title: "Personal Portfolio"
description: "Now built on a static site generator! A little about the technical aspects and design of the very site you're looking at right now."
layout: "default"
image: "/assets/img/portfolio/portfolio.png"
---



<h2>Website</h2>
<a href="https://jfinamore.com/">https://jfinamore.com/</a>

<p>This is the 4th portfolio website I've built for myself, and I'm rather proud of how it turned out! Best one to date hands down.</p>
<p>Currently on the second rebuild of it, this time in Jekyll!</p>

<h3>About the Tech</h3>

<p>Built with Jekyll, a static site generator. If you haven't heard, static or "serverless" sites are a relatively new way of building the web using some fancy build tools, with the end result being plain old HTML, CSS, and JavaScript. While this may not sound new or exciting, the benefit it provides is enormous - nothing can offer faster speeds, better security, or simplicity than serving up static html files.</p>

<h3>About the Design</h3>

<p>I may be a developer, but I have an eye for design! This was a fun chance to flex my UX experience, and build something up entirely on my own from concept sketches to completion.</p>

<p>I chose the styling to best reflect me and the way I work - Effeciency through simplicity, professional without being stuffy, and a bit of playfulness mixed in. There are a grand total of only 4 colors used in the styles, helping everything look nice and uniform across the site.</p>

<p>As for the hexagons, they don't really mean anything. I just like hexagons.</p>


