---
permalink: /victory-motorcycles/
title: "Victory Motorcycles"
description: "Victory is a huge brand, so I got to be part of a large and awesome team during my time there. I built new sections on their meticulously architected C# / .NET platform, as well as interfaced with a new mobile app."
layout: "portfolio"
image: "/assets/img/portfolio/victory/home.jpg"
gallery:
 - img: "victory/home.jpg"
 - img: "victory/blog.jpg"
 - img: "victory/article.jpg"
 - img: "victory/events.jpg"
---


<h2>Website</h2>
<a href="http://www.victorymotorcycles.com/" target="_blank" rel="noopener noreferrer">http://www.victorymotorcycles.com/</a>

<p>I worked here during their big 2013 release. The site is updated yearly, so my version is long gone by now.</p>

<h3>About the Tech</h3>
<p>Victory websites were built on top of the C# / .NET platform, along with the tools like TFS that come with it. They had their own custom CSS framework for keeping looks consistent across multiple properties. Javascript and Knockout.js were the tools of choice for adding in extra functionality.</p>

<h3>My Role in this Project</h3>
<p>I was a dedicated front end developer within this group, since my C# isn't strong. The team I worked with was enormous, with perhaps two dozen other developers who would work in smaller groups for different projects. I worked closely with a back end developer to plan how the data was coming in to the pages; and reviewed my work with the senior front end devs so they could confirm everything met our meticulous design standards.</p>

<p>There was a new app called "RiderX Map My Ride" that was being worked on as promotion for various brands. I used data we were getting in from the app to create a custom map embedded on our website. Also built the entire interface for a new community section, as well as a custom vehicle display pages. Some of my work was so good they re-used it on Indian's website as well!</p>

