


.project-previews {

	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;

	//background-color: $color-alt;



	.preview {
		flex: 1 1 45%;
		//flex: 1 0;

		margin-bottom: $tightness;
		text-align: center;
		padding: $tightness;
		background-color: $color-alt;
		margin-right: $tightness;
		border-radius: $border-radius;

		&:nth-child(even) {
			margin-right: 0;
		}

		&:last-child {
			margin-right: 0;
			margin-bottom: 0;
		}


	}


	.text-container {
		font-size: $font-size-small;
		line-height: $font-size-small;

		p {
			padding: 0 $tightness;
		}
	}

	.entry-title {
		margin: 0;
		margin-bottom: $tightness;
		font-size: $font-size-big;
		line-height: $font-size-big;
	}

}




.gallery {
	
	.img-container:nth-child(1n+5) {
		display: none;
	}
}


.img-container {
	margin: 0;
	margin-bottom: $tightness;
	display: block;

	.image {
		display: block;
		position: relative;
		height: 200px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
		border-radius: $border-radius;

	}
}



.portfolio-content {

	h2 {
		margin: 0;
		margin-bottom: $tightness;
	}

	h3 {
		margin-top: $tightness * 2;
		margin-bottom: $tightness;
	}

}


.sidebar {

	h2, h3, h4 {
		margin: 0;
		margin-bottom: $tightness;
	}
}


@media (max-width: 650px) {
	.project-previews {
		.preview {
			flex: 1 1 100%;
			margin-right: 0;
		}
	}
}

