---
---

@import "vars";

@import "libs/font-awesome";
@import "libs/bootstrap";
@import "libs/lightbox";

@import "elements";
@import "helpers";


@import "nav";
@import "animation";
@import "projects";
@import "portfolio";



.contact-page {
	
	h2 {
		margin-top: 0;
	}

	ul {
		list-style: none;
	}
}


.page-title {
	font-size: $font-size-title;
	margin: 0;
	padding: 0;
	padding-top: $tightness*2;
}




.display-column {
	margin-bottom: $tightness*2;
	h2,h3, h4 {
		margin-top: 0;
		line-height: 1.3;
	}
	.fa {
		font-size: 72px;
	}
}

@media ($break-sm-up) {
	.display-column {
		margin-bottom: 0;
	}
}

#content .container {
	padding-bottom: $tightness*2;
}

#content .container p:last-child {
	margin-bottom: 0;
}


#site-footer {
	background-color: $color-dark;
	color: $color-white;
	padding: $tightness*2 0;
	margin: 0;

	a, a:hover { 
		color: $color-white;
		font-size: $font-size-big;
		margin-right: $tightness;
		display: block;
		margin-bottom: $tightness/2;
	}

}

@media (min-width: 600px) {
	#site-footer {

		a, a:hover { 
			display: inline-block;
			margin-bottom: 0;
		}
	}
}


.post-list {

	header {
		img {
			float: left;
			max-height: 150px;
			max-width: 150px;
			height: auto;
			width: auto;
		}
		h3, h2 {
			display: inline-block;
		}
	}

}






// Possible style for adding thumbs to posts
.post-excerpt {
	.post-thumbnail {
		float: left;
		margin-right: $tightness;
		width: 100px;

		img {
			width: 100%;
			height: auto;
		}
	}
	.entry-title {
		display: inline-block;
	}
}






.skill-list {

	h4 {
		margin-bottom: $tightness/2;
		margin-top: $tightness;
	}

	em {
		font-size: .9em;
	}
	p {
		margin-bottom: $tightness/2;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		//margin-bottom: $tightness;
	}
	li {
		display: inline-block;
		margin: 0;
		margin-right: $tightness/2;
	}
	li:after {
		content: ",";
	}
	li:last-child:after {
		content: "";
	}

}




.edge-effect {
	position: absolute;
	bottom: -43px;
	right: 0;
}

#content header {
	margin-bottom: $tightness * 2;
}